@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" class="form-control" placeholder="Search" asp-for="SearchTerm"/>
        <span class="input-group-append">
            <button class="btn btn-primary">
                Go
            </button>
        </span>
    </div>
</form>


    @foreach(var restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="restaurant"/>
    }

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

@Model.Message
